Impl-CCMLibrary/emailBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-CCMLibrary">
	<xsd:complexType name="emailBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="templateKey"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="email" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>