Impl-CCMLibrary/emailDataBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-CCMLibrary">
	<xsd:complexType name="emailDataBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="emailStatus"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="traceId"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>