Impl-CCMLibrary/SendCommunicationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendCommunicationService" targetNamespace="http://Impl-CCMLibrary/SendCommunicationService" xmlns:bons1="http://NBDATA" xmlns:tns="http://Impl-CCMLibrary/SendCommunicationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://Impl-CCMLibrary/SendCommunicationService">
      <xsd:import namespace="http://NBDATA" schemaLocation="SendMessageAisOutput.xsd"/>
      <xsd:import namespace="http://NBDATA" schemaLocation="SendMessageAIsInput.xsd"/>
      <xsd:element name="SendMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SendMessageAisInput" nillable="true" type="bons1:SendMessageAIsInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SendMessageAisOutput" nillable="true" type="bons1:SendMessageAisOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="SendMessageRequestMsg">
    <wsdl:part element="tns:SendMessage" name="SendMessageParameters"/>
  </wsdl:message>
    <wsdl:message name="SendMessageResponseMsg">
    <wsdl:part element="tns:SendMessageResponse" name="SendMessageResult"/>
  </wsdl:message>
    <wsdl:portType name="SendCommunicationService">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageRequestMsg" name="SendMessageRequest"/>
      <wsdl:output message="tns:SendMessageResponseMsg" name="SendMessageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>