Impl-CCMLibrary/TokenOutputBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-CCMLibrary">
	<xsd:complexType name="TokenOutputBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="access_token"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="expires_in"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="token_type"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>